<div class="authform">
  <h3>Edycja konta</h3>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form'}) do |f| %>
    <%= devise_error_messages! %>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
    </div>
      <div class="form-group">
        <%= f.label 'Nazwa' %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    <div>
      <p>Zostaw te 2 pola puste, jeżeli nie chcesz zmieniać Twojego hasła.</p>
      <div class="form-group">
        <%= f.label 'Hasło' %>
        <%= f.password_field :password, :autocomplete => 'off', class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label 'Potwierdzenie hasła' %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
    </div>
    <div>
      <p>Musisz wpisać hasło jeżeli chcesz wprowadzić zmiany.</p>
      <div class="form-group">
        <%= f.label 'Obecne hasło do zatwierdzenia zmian' %>
        <%= f.password_field :current_password, class: 'form-control' %>
      </div>
    </div>
    <%= f.submit 'Wprowadź zmiany!', :class => 'button right' %>
  <% end %>
</div>
<div class="authform">
<h3>Usuwanie konta</h3>
<p>Nieszczęśliwy? Only know you love him when you let him go.</p>
<%= button_to "Wyprowadź się z tego serwisu", registration_path(resource_name), :data => { :confirm => "Na pewno chcesz odejść?" }, :method => :delete, :class => 'button right' %>
</div>
