<span>
  <%= link_to "Romantyczne", "#" %>
</span>
<span>
  <%= link_to "O codzienności", "#" %>
</span>
<span>
  <%= link_to "Ból istnienia", "#" %>
</span>
<span>
  <%= link_to "Wojenne", "#" %>
</span>
<span>
  <%= link_to "Religijne", "#" %>
</span>